{% extends 'base/base.html' %}

{% block title %} Register {% endblock  %}
{% block css_styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock  %}

{% block header %}
    <header class="site-header">
        <h1 class="title center-text">
            <a href="/login"> Block<span>Note</span> </a>
        </h1>
    </header>
{% endblock  %}


{% block content %}

    {% from 'macro.html' import render_field %}

    <div class="container">    
        <button class="btn black-btn">
            <a href="/"> Return </a>
        </button>
    </div>

    <form method="POST" class="container register-form">
        <fieldset>
            <legend> fill every field  </legend>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            
            {{ render_field(form.username) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ render_field(form.confirm) }}
            {{ render_field(form.accept_tos) }}
            {{ form.honeypot }}
            <div class="submit">
                <input type="submit" value="Register" class="btn black-btn btn-submit">
            </div>
        </fieldset>
    </form>

{% endblock  %}

{% block footer %}
<footer class="site-footer">
    <div class="container center-text">
            <p class="copyright">&copy; BlockNotes 2020 </p>
    </div>
</footer>
{% endblock  %}